Import libraries

In [1]:
import pandas as pd
import numpy as np

Import data with cars

In [2]:
loaded_data = pd.read_csv('Cars.csv',sep = ';')
loaded_data

,Brand,Model,Engine type,engine_capacity cm3,power kW,transmission,body,equipent_level,price euro
0,Skoda,ENYAQ iV,Electric,0,132,automatic,SUV,60,40000
1,Skoda,ENYAQ iV,Electric,0,150,automatic,SUV,80,11779
2,Skoda,Octavia,Petrol,1000,81,manual,Liftback,Active,20963
3,Skoda,Octavia,Petrol,1000,81,manual,Liftback,ambition,22500
4,Skoda,Octavia,Hybrid,1000,81,automatic,Liftback,ambition,24888
...,...,...,...,...,...,...,...,...,...
162,Skoda,Kodiaq,diesel,2000,110,automatic,suv,sportline,39250
163,Skoda,Kodiaq,diesel,2000,110,automatic,suv,LAURIN & KLEMENT,43750
164,Skoda,Kodiaq,diesel,2000,147,automatic,suv,style,40750
165,Skoda,Kodiaq,diesel,2000,147,automatic,suv,sportline,43500
166,Skoda,Kodiaq,diesel,2000,147,automatic,suv,LAURIN & KLEMENT,47750

Import possible colors

In [3]:
loaded_colors = pd.read_csv('colors.txt',dtype =str,delimiter = ',',
                            names = ['color','price'])
loaded_colors.price = loaded_colors.price.astype(int)
loaded_colors

    color  price
0   white      0
1    blue      0
2     red    300
3   black    300
4  silver    400
5    grey    400
6  bronze    500

Add colors option to cars database:

In [4]:
new_df =pd.DataFrame()
for number,row in enumerate(loaded_data.values):
    for color in loaded_colors.color:
        new_df = new_df.append(np.hstack((row, np.array(color))).reshape(1,-1).tolist(),ignore_index= True) 


new_df.columns = ['Brand', 'Model', 'Engine type', 'engine_capacity cm3', 'power kW',
       'transmission', 'body', 'equipent_level', 'price euro','colors']
new_df = new_df.astype({"engine_capacity cm3": int, "power kW": int,
                       "price euro": int})

new_df

,Brand,Model,Engine type,engine_capacity cm3,power kW,transmission,body,equipent_level,price euro,colors
0,Skoda,ENYAQ iV,Electric,0,132,automatic,SUV,60,40000,white
1,Skoda,ENYAQ iV,Electric,0,132,automatic,SUV,60,40000,blue
2,Skoda,ENYAQ iV,Electric,0,132,automatic,SUV,60,40000,red
3,Skoda,ENYAQ iV,Electric,0,132,automatic,SUV,60,40000,black
4,Skoda,ENYAQ iV,Electric,0,132,automatic,SUV,60,40000,silver
...,...,...,...,...,...,...,...,...,...,...
1164,Skoda,Kodiaq,diesel,2000,147,automatic,suv,LAURIN & KLEMENT,47750,red
1165,Skoda,Kodiaq,diesel,2000,147,automatic,suv,LAURIN & KLEMENT,47750,black
1166,Skoda,Kodiaq,diesel,2000,147,automatic,suv,LAURIN & KLEMENT,47750,silver
1167,Skoda,Kodiaq,diesel,2000,147,automatic,suv,LAURIN & KLEMENT,47750,grey
1168,Skoda,Kodiaq,diesel,2000,147,automatic,suv,LAURIN & KLEMENT,47750,bronze

Add price of color to database:

In [5]:
for nb,row in enumerate(new_df.values):
    paint_cost = loaded_colors[loaded_colors.color == row[-1]].price.item()

    new_df.at[nb,'price euro'] = new_df.loc[nb,'price euro'] + paint_cost

new_df

,Brand,Model,Engine type,engine_capacity cm3,power kW,transmission,body,equipent_level,price euro,colors
0,Skoda,ENYAQ iV,Electric,0,132,automatic,SUV,60,40000,white
1,Skoda,ENYAQ iV,Electric,0,132,automatic,SUV,60,40000,blue
2,Skoda,ENYAQ iV,Electric,0,132,automatic,SUV,60,40300,red
3,Skoda,ENYAQ iV,Electric,0,132,automatic,SUV,60,40300,black
4,Skoda,ENYAQ iV,Electric,0,132,automatic,SUV,60,40400,silver
...,...,...,...,...,...,...,...,...,...,...
1164,Skoda,Kodiaq,diesel,2000,147,automatic,suv,LAURIN & KLEMENT,48050,red
1165,Skoda,Kodiaq,diesel,2000,147,automatic,suv,LAURIN & KLEMENT,48050,black
1166,Skoda,Kodiaq,diesel,2000,147,automatic,suv,LAURIN & KLEMENT,48150,silver
1167,Skoda,Kodiaq,diesel,2000,147,automatic,suv,LAURIN & KLEMENT,48150,grey
1168,Skoda,Kodiaq,diesel,2000,147,automatic,suv,LAURIN & KLEMENT,48250,bronze

Import features file

In [6]:
features = pd.read_csv('features.txt',dtype =str,delimiter = ',',
                            names = ['name','price'])
features.price = features.price.astype(int)
features

                         name  price
0                     Sunroof    600
1               Backup camera    150
2           Navigation system    500
3       Blind spot monitoring    250
4  Apple CarPlay/Android Auto    120

Combination of features:

In [7]:

from itertools import combinations

input = features["name"].to_numpy()

output = sum([list(map(list, combinations(input, i))) for i in range(len(input) + 1)], [])
output = pd.DataFrame(pd.Series(output),columns=['features'])
output['extra_equip_price'] = 0
output

                                             features  extra_equip_price
0                                                  []                  0
1                                           [Sunroof]                  0
2                                     [Backup camera]                  0
3                                 [Navigation system]                  0
4                             [Blind spot monitoring]                  0
5                        [Apple CarPlay/Android Auto]                  0
6                            [Sunroof, Backup camera]                  0
7                        [Sunroof, Navigation system]                  0
8                    [Sunroof, Blind spot monitoring]                  0
9               [Sunroof, Apple CarPlay/Android Auto]                  0
10                 [Backup camera, Navigation system]                  0
11             [Backup camera, Blind spot monitoring]                  0
12        [Backup camera, Apple CarPlay/Android Auto]                  0
13         [Navigation system, Blind spot monitoring]                  0
14    [Navigation system, Apple CarPlay/Android Auto]                  0
15  [Blind spot monitoring, Apple CarPlay/Android ...                  0
16        [Sunroof, Backup camera, Navigation system]                  0
17    [Sunroof, Backup camera, Blind spot monitoring]                  0
18  [Sunroof, Backup camera, Apple CarPlay/Android...                  0
19  [Sunroof, Navigation system, Blind spot monito...                  0
20  [Sunroof, Navigation system, Apple CarPlay/And...                  0
21  [Sunroof, Blind spot monitoring, Apple CarPlay...                  0
22  [Backup camera, Navigation system, Blind spot ...                  0
23  [Backup camera, Navigation system, Apple CarPl...                  0
24  [Backup camera, Blind spot monitoring, Apple C...                  0
25  [Navigation system, Blind spot monitoring, App...                  0
26  [Sunroof, Backup camera, Navigation system, Bl...                  0
27  [Sunroof, Backup camera, Navigation system, Ap...                  0
28  [Sunroof, Backup camera, Blind spot monitoring...                  0
29  [Sunroof, Navigation system, Blind spot monito...                  0
30  [Backup camera, Navigation system, Blind spot ...                  0
31  [Sunroof, Backup camera, Navigation system, Bl...                  0

Calculate price of extra features in car:

In [8]:
res_lst = []
for nb_row,row in enumerate(output['features'].tolist()):
    sum_price = 0
    for element in row:
        sum_price += features[features.name == element]['price'].item()
    res_lst.append(sum_price)

res_lst[-10:]

[900, 770, 520, 870, 1500, 1370, 1120, 1470, 1020, 1620]

Append cost of equipment to output dataframe:

In [9]:
output['features'] = output['features'].apply(lambda x: ' '.join(x))

In [10]:
output['extra_equip_price'] = res_lst
output

                                             features  extra_equip_price
0                                                                      0
1                                             Sunroof                600
2                                       Backup camera                150
3                                   Navigation system                500
4                               Blind spot monitoring                250
5                          Apple CarPlay/Android Auto                120
6                               Sunroof Backup camera                750
7                           Sunroof Navigation system               1100
8                       Sunroof Blind spot monitoring                850
9                  Sunroof Apple CarPlay/Android Auto                720
10                    Backup camera Navigation system                650
11                Backup camera Blind spot monitoring                400
12           Backup camera Apple CarPlay/Android Auto                270
13            Navigation system Blind spot monitoring                750
14       Navigation system Apple CarPlay/Android Auto                620
15   Blind spot monitoring Apple CarPlay/Android Auto                370
16            Sunroof Backup camera Navigation system               1250
17        Sunroof Backup camera Blind spot monitoring               1000
18   Sunroof Backup camera Apple CarPlay/Android Auto                870
19    Sunroof Navigation system Blind spot monitoring               1350
20  Sunroof Navigation system Apple CarPlay/Androi...               1220
21  Sunroof Blind spot monitoring Apple CarPlay/An...                970
22  Backup camera Navigation system Blind spot mon...                900
23  Backup camera Navigation system Apple CarPlay/...                770
24  Backup camera Blind spot monitoring Apple CarP...                520
25  Navigation system Blind spot monitoring Apple ...                870
26  Sunroof Backup camera Navigation system Blind ...               1500
27  Sunroof Backup camera Navigation system Apple ...               1370
28  Sunroof Backup camera Blind spot monitoring Ap...               1120
29  Sunroof Navigation system Blind spot monitorin...               1470
30  Backup camera Navigation system Blind spot mon...               1020
31  Sunroof Backup camera Navigation system Blind ...               1620

Append all equipment possibilities with its cost in cars to dataframe:

In [11]:
equip_df =pd.DataFrame()
for number,row in enumerate(new_df.values):
     for number_val,row_val in enumerate(output.values):
        #equip_df = equip_df.append(np.hstack(row, output.iloc[number_val,:].to_numpy()).reshape(1,-1).tolist(),ignore_index= True) 
        equip_df = equip_df.append(pd.DataFrame((np.concatenate((row, np.array(list(output.iloc[15,:].items()))[:,1::2].flatten())))).T)
equip_df

,0,1,2,3,4,5,6,7,8,9,10,11
0,Skoda,ENYAQ iV,Electric,0,132,automatic,SUV,60,40000,white,Blind spot monitoring Apple CarPlay/Android Auto,370
0,Skoda,ENYAQ iV,Electric,0,132,automatic,SUV,60,40000,white,Blind spot monitoring Apple CarPlay/Android Auto,370
0,Skoda,ENYAQ iV,Electric,0,132,automatic,SUV,60,40000,white,Blind spot monitoring Apple CarPlay/Android Auto,370
0,Skoda,ENYAQ iV,Electric,0,132,automatic,SUV,60,40000,white,Blind spot monitoring Apple CarPlay/Android Auto,370
0,Skoda,ENYAQ iV,Electric,0,132,automatic,SUV,60,40000,white,Blind spot monitoring Apple CarPlay/Android Auto,370
...,...,...,...,...,...,...,...,...,...,...,...,...
0,Skoda,Kodiaq,diesel,2000,147,automatic,suv,LAURIN & KLEMENT,48250,bronze,Blind spot monitoring Apple CarPlay/Android Auto,370
0,Skoda,Kodiaq,diesel,2000,147,automatic,suv,LAURIN & KLEMENT,48250,bronze,Blind spot monitoring Apple CarPlay/Android Auto,370
0,Skoda,Kodiaq,diesel,2000,147,automatic,suv,LAURIN & KLEMENT,48250,bronze,Blind spot monitoring Apple CarPlay/Android Auto,370
0,Skoda,Kodiaq,diesel,2000,147,automatic,suv,LAURIN & KLEMENT,48250,bronze,Blind spot monitoring Apple CarPlay/Android Auto,370
0,Skoda,Kodiaq,diesel,2000,147,automatic,suv,LAURIN & KLEMENT,48250,bronze,Blind spot monitoring Apple CarPlay/Android Auto,370

Rename columns name and reset index:

In [12]:
equip_df.reset_index(drop=True)
equip_df.columns = ['Brand', 'Model', 'Engine type', 'engine_capacity cm3', 'power kW',
       'transmission', 'body', 'equipent_level', 'car price euro','colors','features','features_price_euro']
equip_df

,Brand,Model,Engine type,engine_capacity cm3,power kW,transmission,body,equipent_level,car price euro,colors,features,features_price_euro
0,Skoda,ENYAQ iV,Electric,0,132,automatic,SUV,60,40000,white,Blind spot monitoring Apple CarPlay/Android Auto,370
0,Skoda,ENYAQ iV,Electric,0,132,automatic,SUV,60,40000,white,Blind spot monitoring Apple CarPlay/Android Auto,370
0,Skoda,ENYAQ iV,Electric,0,132,automatic,SUV,60,40000,white,Blind spot monitoring Apple CarPlay/Android Auto,370
0,Skoda,ENYAQ iV,Electric,0,132,automatic,SUV,60,40000,white,Blind spot monitoring Apple CarPlay/Android Auto,370
0,Skoda,ENYAQ iV,Electric,0,132,automatic,SUV,60,40000,white,Blind spot monitoring Apple CarPlay/Android Auto,370
...,...,...,...,...,...,...,...,...,...,...,...,...
0,Skoda,Kodiaq,diesel,2000,147,automatic,suv,LAURIN & KLEMENT,48250,bronze,Blind spot monitoring Apple CarPlay/Android Auto,370
0,Skoda,Kodiaq,diesel,2000,147,automatic,suv,LAURIN & KLEMENT,48250,bronze,Blind spot monitoring Apple CarPlay/Android Auto,370
0,Skoda,Kodiaq,diesel,2000,147,automatic,suv,LAURIN & KLEMENT,48250,bronze,Blind spot monitoring Apple CarPlay/Android Auto,370
0,Skoda,Kodiaq,diesel,2000,147,automatic,suv,LAURIN & KLEMENT,48250,bronze,Blind spot monitoring Apple CarPlay/Android Auto,370
0,Skoda,Kodiaq,diesel,2000,147,automatic,suv,LAURIN & KLEMENT,48250,bronze,Blind spot monitoring Apple CarPlay/Android Auto,370

Data type in dataframe

In [13]:
equip_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37408 entries, 0 to 0
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Brand                37408 non-null  object
 1   Model                37408 non-null  object
 2   Engine type          37408 non-null  object
 3   engine_capacity cm3  37408 non-null  object
 4   power kW             37408 non-null  object
 5   transmission         37408 non-null  object
 6   body                 37408 non-null  object
 7   equipent_level       37408 non-null  object
 8   car price euro       37408 non-null  object
 9   colors               37408 non-null  object
 10  features             37408 non-null  object
 11  features_price_euro  37408 non-null  object
dtypes: object(12)
memory usage: 3.7+ MB

Convert the data type of column to right format:

In [14]:
list_of_str_col = ['Brand', 'Model', 'Engine type',
       'transmission', 'body', 'equipent_level','colors','features']
for col_name in list_of_str_col:
    equip_df[col_name] = equip_df[col_name].astype(str)
    equip_df[col_name] = equip_df[col_name].replace(',',' ')
    equip_df[col_name] = equip_df[col_name].str.lower()
equip_df.features = equip_df.features.apply(lambda x: x.replace(',',' ').replace('/',' '))
equip_df.equipent_level = equip_df.equipent_level.apply(lambda x: x.replace('&','and').replace('\n',' '))

In [15]:
list_of_int_col = ['engine_capacity cm3' ,'power kW','car price euro','features_price_euro']
for col_name in list_of_int_col:
    equip_df[col_name] = equip_df[col_name].astype(int)

In [16]:
equip_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37408 entries, 0 to 0
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Brand                37408 non-null  object
 1   Model                37408 non-null  object
 2   Engine type          37408 non-null  object
 3   engine_capacity cm3  37408 non-null  int32
 4   power kW             37408 non-null  int32
 5   transmission         37408 non-null  object
 6   body                 37408 non-null  object
 7   equipent_level       37408 non-null  object
 8   car price euro       37408 non-null  int32
 9   colors               37408 non-null  object
 10  features             37408 non-null  object
 11  features_price_euro  37408 non-null  int32
dtypes: int32(4), object(8)
memory usage: 3.1+ MB

Compute sum of features and car price:

In [17]:
equip_df['total price euro'] = equip_df['car price euro'] + equip_df.features_price_euro
equip_df['total price euro'] = equip_df['total price euro'].astype(int)

Result dataframe

In [18]:
equip_df

,Brand,Model,Engine type,engine_capacity cm3,power kW,transmission,body,equipent_level,car price euro,colors,features,features_price_euro,total price euro
0,skoda,enyaq iv,electric,0,132,automatic,suv,60,40000,white,blind spot monitoring apple carplay android auto,370,40370
0,skoda,enyaq iv,electric,0,132,automatic,suv,60,40000,white,blind spot monitoring apple carplay android auto,370,40370
0,skoda,enyaq iv,electric,0,132,automatic,suv,60,40000,white,blind spot monitoring apple carplay android auto,370,40370
0,skoda,enyaq iv,electric,0,132,automatic,suv,60,40000,white,blind spot monitoring apple carplay android auto,370,40370
0,skoda,enyaq iv,electric,0,132,automatic,suv,60,40000,white,blind spot monitoring apple carplay android auto,370,40370
...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,skoda,kodiaq,diesel,2000,147,automatic,suv,laurin and klement,48250,bronze,blind spot monitoring apple carplay android auto,370,48620
0,skoda,kodiaq,diesel,2000,147,automatic,suv,laurin and klement,48250,bronze,blind spot monitoring apple carplay android auto,370,48620
0,skoda,kodiaq,diesel,2000,147,automatic,suv,laurin and klement,48250,bronze,blind spot monitoring apple carplay android auto,370,48620
0,skoda,kodiaq,diesel,2000,147,automatic,suv,laurin and klement,48250,bronze,blind spot monitoring apple carplay android auto,370,48620
0,skoda,kodiaq,diesel,2000,147,automatic,suv,laurin and klement,48250,bronze,blind spot monitoring apple carplay android auto,370,48620

Save dataframe to exel:

In [ ]:
equip_df.to_excel('result_cars_database.xls', header=False,index= False)

Save to csv

In [20]:
equip_df.to_csv('result_cars_database.csv', header=False,index= False)